.booking {
  margin-bottom: 50px;
}

.container__booking {
  background-color: #440F51;
  /* background-color: rgb(237, 237, 216); */
  /* box-sizing: border-box; */
}

.container__booking-block {
  width: 1440px;
  padding: 80px 130px;
  margin: 0 auto;
}

.booking__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.booking-hall__title,
.booking-set__title,
.booking-order__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.booking-hall__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-hall__label {
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  background: #FFFFFF;
  border-radius: 8px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition-duration: 200ms;
}

/* правка 22/03 */
/* .booking-hall__label:hover { */
.booking-hall__input:hover {
  background: #EADEED;
  border: 3px solid #640AA3;
}

.booking-hall__label:focus {
  background: #FFFFFF;
  border: 3px solid #640AA3;
}


.booking-hall__label:active {
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  background: #6C0287;
}

.booking-hall__radio-btn .booking-hall__input:checked+.booking-hall__label {
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  background: #6C0287;
  /* background: #24c266;
  color: #3f1111; */
}

.booking-hall__input {
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  /* margin: none; */
  /* display: block; */
  display: none;
}

.booking-hall {
  /* margin: 0; */
  padding: 0;
  margin-bottom: 60px;
}

/* >>>>>>>>>>>>>>> */
.booking-set__block {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
}

.booking-set__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}

/* радио бокс */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.booking-set__block-sub {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  gap: 20px;
}

.booking-set__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}


.booking-set__item {
  position: relative;
  padding-left: 50px;
  display: block;
}

.booking-set__input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  display: block;
  position: absolute;
  margin-left: -50px;
  margin-top: 12px;
}

.booking-set__input--radio::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.booking-set__input--radio:focus::after {
  border: 1px solid #CD06FF;
}

/* .booking-set__input:focus {
  border: 1px solid #CD06FF;
} */

.booking-set__input--radio::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -8px;
  left: 6px;
  opacity: 0;
  background-color: #9b6c26;
}

.booking-set__input--radio:checked:after {
  opacity: 1;
}

/* чек бокс */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.booking-set__input--checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #FFFFFF;
  /* добавлено 22/03 */
  /* border: 1px solid #FFFFFF; */
}

.booking-set__input--checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -8px;
  left: 6px;
  opacity: 0;
  background-color: #9b6c26;
  /* border: 1px solid #FFFFFF; */
}

.booking-set__input--checkbox:checked:after {
  opacity: 1;
}

/* бок справа */
.booking-set__input--checkbox:focus {
  /* добавлено 22/03 */
  border: 1x solid #CD06FF;
}

/* чек бокс завершение*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.booking-set__item:last-child {
  margin-bottom: 0;
}

.booking-set {
  padding: 0;
  margin-bottom: 60px;
}

/* >>>>>>>>>>>>>>> последний блок */

.booking__order {
  margin-bottom: 40px;
}

.booking-order__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;
}

.booking-order__input {
  width: 300px;
  height: 52px;
  padding-left: 10px;
  padding-right: 10px;
}

.booking-order__block-column {
  display: flex;
  flex-direction: column;
}

.booking-order__name-field {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.booking-order__input:focus {
  border: 2px solid #CD06FF;
}

.booking-order__block-field {
  margin-bottom: 14px;
}

.booking-order__input--short {
  width: 134px;
}

.booking-order__input--date-time {
  display: flex;
  justify-content: space-between;
}

/* кнопка забронировать */
.booking__submit {
  margin-left: 780px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
}

.booking__submit:hover {
  background: #EADEED;
  border: 3px solid #6C0287;
  transition-duration: 300ms;
}

.booking__submit:focus {
  background: #FFFFFF;
  border: 3px solid #6C0287;
  transition-duration: 300ms;
}

.booking__submit:active {
  background: #EADEED;
  transition-duration: 300ms;
}